{%  extends  "MasterPage.html" %}
{% block content %}



<form method="POST">
  <div class="form-group" style="padding-top:50px;
	  width: 40rem;">
    <label for="exampleInputEmail1">Set Name</label>
    <input type="text" name ="setName" class="form-control" id="setName" aria-describedby="emailHelp" placeholder="Enter set name">
    <small id="emailHelp" class="form-text text-muted">Please enter the name for the set</small>
     <label for="exampleInputEmail1">Number of questions</label>
    <input type="text" name="questionCount" class="form-control" id="questionCount" aria-describedby="questionCount" placeholder="enter how many questions you want">
  </div>
  <input type="submit" value="submit" class="btn btn-success">

</form>


{% endblock %}

