{% extends "MasterPage.html" %}
{% block content %}

<div class="container" style="padding-top: 150px;" >
	<h1>Home page</h1>

	<p class="lead"> Welcome to the flashy cards website, thank you for using us. For more information please go to the about page </p>

</div>
<div class="container" style="padding-top: 50px;">
        <a class="btn btn-success"  href="http://webtech-21.napier.ac.uk:5000/flashycards/home/createset/" role="button">Create Flash Card Set</a>
	<a class="btn btn-success"  href="http://webtech-21.napier.ac.uk:5000/flashycards/home/openset/" role="button"> Open Flash Card Set</a>
</div>	

{% endblock %}}

