{% extends "MasterPage.html" %}

{% block content %}

<div class="list-group" style="width:20rem;
	padding-top:150px;">
  <button type="button" class="list-group-item list-group-item-action">Biology Set</button>
  <button type="button" class="list-group-item list-group-item-action">Norwegian Set</button>
  <button type="button" class="list-group-item list-group-item-action">Computing Set</button>
  {% for txt in text %}
	<button type="button" class="list-group-item list-group-item-action">{{ txt }}</button>
  {% endfor %}
</div>

<div class="button" style="padding-top:50px;">
	<a class="btn btn-success" href="http://webtech-21.napier.ac.uk:5000/flashycards/home/openset/flashcard/" role="button">Open Set</a>
</div>








{% endblock %}
